# Virtual environments
venv
.conda
# Python Cache
__pycache__
.pytest_cache
# Kegg
euk90_kegg105/
euk90_kegg105.zip
hmmsearch.exe.stackdump
output/
# Memote
report.html
# Remove old stuff
Algal_BP_Models
fba_csorokiniana
external
# GitHub Large Files
data/genome/reference
data/genome/target
*.zip
# Notebooks
*.ipynb_checkpoints
# Escher
*.html